<a href="https://colab.research.google.com/github/3m4nu311341/Clase-Estructura-De-Datos/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuplas
1. Crea una tupla con los siguientes elementos: "apple", "banana", "cherry", "date", "fig", "grape". Imprime la tupla y el número de elementos que contiene.

In [1]:
frutas=("apple","banana","cherry","date","fig","grape")
print("tupla",frutas)

tupla ('apple', 'banana', 'cherry', 'date', 'fig', 'grape')

In [2]:
print("Número de Elementos",len(frutas))

Número de Elementos 6

2. Dada la tupla fruits = ("apple", "banana", "cherry", "date", "fig", "grape"), accede e imprime el tercer elemento de la tupla.

In [3]:
tercer_elemento = frutas[2]
print("tercer elemento de la tupla", tercer_elemento)

tercer elemento de la tupla cherry

3. Dada la tupla colors = ("red", "green", "blue"), desempaqueta sus valores en tres variables y luego imprime cada variable.

In [4]:
colors=("red","green","blue")

In [5]:
color1, color2, color3=colors
print("Color 1:", color1)
print("Color 2:", color2)
print("Color 3:", color3)

Color 1: red
Color 2: green
Color 3: blue

4. Crea dos tuplas, una con los números (1, 2, 3) y otra con los números (4, 5, 6). Concatenálas en una sola tupla y muestra el resultado

In [6]:
numeros1=(1,2,3)
numeros2=(4,5,6)
print("Tupla Concatenada", numeros1+numeros2)

Tupla Concatenada (1, 2, 3, 4, 5, 6)

5. Crea una tupla con el elemento "repeat" y repítela 4 veces. Imprime el resultado.

In [7]:
tupla=("repeat",)
tupla_repetida = tupla*4
print("Tupla Repetida:", tupla_repetida)

Tupla Repetida: ('repeat', 'repeat', 'repeat', 'repeat')

6. Dada la tupla numbers = (10, 20, 30, 40, 50), utiliza un bucle for para iterar sobre la tupla e imprimir cada número.

In [8]:
numbers=(10,20,30,40,50)

In [9]:
for number in numbers:
    print(number)

10
20
30
40
50

7. Crea una tupla que contenga otras dos tuplas: tuple1 = (1, 2, 3) y tuple2 = ("a", "b", "c"). Imprime la tupla anidada.

In [10]:
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")

In [11]:
tupla_anidada = (tuple1, tuple2)
print("Tupla anidada:", tupla_anidada)

Tupla anidada: ((1, 2, 3), ('a', 'b', 'c'))

8. Dada la tupla letters = ("a", "b", "c", "d"), verifica si la letra "e" está en la tupla e imprime un mensaje apropiado.

In [13]:
letters = ("a", "b", "c", "d")

In [14]:
if "e" in letters:
    print("La letra 'e' está en la tupla.")
else:
    print("La letra 'e' no está en la tupla.")

La letra 'e' no está en la tupla.

9. Convierte la lista my_list = [100, 200, 300, 400] a una tupla e imprime la tupla resultante.

In [15]:
my_list = [100, 200, 300, 400]

In [16]:
my_tuple = tuple(my_list)

In [17]:
print("Tupla resultante:", my_tuple)

Tupla resultante: (100, 200, 300, 400)

10. Dada la tupla my_tuple = (5, 10, 15, 20, 25, 30, 35), imprime el valor en el índice 2 y una sub-tupla que contenga los elementos desde el índice 1 hasta el 4.

In [18]:
my_tuple = (5, 10, 15, 20, 25, 30, 35)

In [22]:
print("Valor en el índice 2:", my_tuple[1])

Valor en el índice 2: 10

In [21]:
sub_tuple = my_tuple[0:4]
print("Sub-tupla desde el índice 1 hasta el 4:", sub_tuple)

Sub-tupla desde el índice 1 hasta el 4: (5, 10, 15, 20)